body{
	height: 100%;
	text-align: center;
	background-image: linear-gradient(red, orange, green, blue);
	min-height: 100vh;

	}

	h1{
		font-size: 300%;
	}

	 table {
    font-size: 40px;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	font-size: 500%;
	margin-bottom: 10px;
	margin-top: 100px;
	border-spacing: 25px;
	background-image: linear-gradient(pink, white, pink);
	margin-top: -10px;
	
  }
	